<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <style>
        .ailgn_center {
            display: flex;
            justify-content: center;
        }

        .div_butter {
            right: 80px;
            left: 100px;
        }
    </style>
</head>

<body>
    <div class="div_butter" style="height: -3cm;">
        <h1 style="font-size: xx-large">고객 서비스</h1>
        <button type="button" style="font-size: xx-large" value="right">문의하기</button>
        </style>
    </div>
    <hr>
    <div class="ailgn_center">
        <form action="/login" method="post">
            <h1 style="font-size: 1.5cm">~~~에 궁금한 점을 물어보세요 !</h1>
            <input type="text" size="40px" style="font-size: xx-large;" placeholder="비밀번호를 찾고싶어요.">
        </form>
    </div>
    <table>
        <tr>
            <ul>
                <h2>
                    <div style="text-indent: 20cm;">
                        <p class="jx_xx_large" style="font-size: 1cm;">개인회원 자주묻는 질문</p>
                    </div>
                </h2>
                <br>
                <h2 style="text-indent: 20cm;">~~~ 이력서 양식을 꼭 사용해야하나요?</h2>
                <h2 style="text-indent: 20cm;">아이디 생성은 최대 몇개까지 가능한가요?</h2>
                <h2 style="text-indent: 20cm;">취업활동증명서 발급은 어떻게 하나요?</h2>
                <h2 style="text-indent: 20cm;">매치업 이력서 열람 제한 기업 설정방법</h2>
                <h2 style="text-indent: 20cm;">매치업 이력서 열람 제한 기업 설정방법</h2>
                <h2 style="text-indent: 20cm;">매치업 이력서 열람 제한 기업 설정방법</h2>
                <h2 style="text-indent: 20cm;">매치업 이력서 열람 제한 기업 설정방법</h2>
            </ul>
        </tr>
    </table>
    <table>
        <tr>
            <ul>

                <h2>
                    <div style="text-indent: 40cm;">
                        <p class="jx_xx_large" style="font-size: 1cm;">기업회원 자주묻는 질문</p>
                    </div>
                </h2>
                <br>
                <h2 style="text-indent: 40cm;">기업 서비스 가입, 이용 절차가 궁금합니다.</h2>
                <h2 style="text-indent: 40cm;">매치업 서비스를 이용하고 싶어요.</h2>
                <h2 style="text-indent: 40cm;">매치업 서비스를 이용하고 싶어요.</h2>
                <h2 style="text-indent: 40cm;">최종 합격 처리 후, 채용 수수료 정산은 어떻게 하나요?</h2>
                <h2 style="text-indent: 40cm;">단기 계약직 혹은 프리랜서 채용도 가능한가요?</h2>
                <h2 style="text-indent: 40cm;">단기 계약직 혹은 프리랜서 채용도 가능한가요?</h2>
                <h2 style="text-indent: 40cm;">단기 계약직 혹은 프리랜서 채용도 가능한가요?</h2>
            </ul>
        </tr>
    </table>
</body>

</html>